{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>History</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Stock Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Date and Time</th>
            </tr>
        </thead>

        <tbody>
            {% for history in history %}
            <tr>
                <td>{{ history.action }}</td>
                <td>{{ history.symbol }}</td>
                <td>
                    {% if history.price is not none %}
                    {{ "%.2f"|format(history.price | float) }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ history.shares }}</td>
                <td>{{ history.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
