{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container">
        <h2>Portfolio</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Shares owned</th>
                    <th>Current Price ($)</th>
                    <th>Total Value ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ "%.2f"|format(stock.current_price) }}</td>
                    <td>{{ "%.2f"|format(stock.stocktv) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Cash balance: ${{ "%.2f"|format(cashbalance) }}</h3>
        <h3>Grand Total: ${{ "%.2f"|format(grandtotal) }}</h3>
    </div>
{% endblock %}
