{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h1>Stock Quote</h1>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Symbol</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ quoted.name }} </td>
                <td>{{ quoted.price }} </td>
                <td>{{ quoted.symbol }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
